$white: #fff;
$ivory: #fffff0;
$floral: #fffaf0;
$ghost: #f8f8ff;
$snow: #fffafa;
$snuff: #ede1ef;
$london: #ceb8d1;
$silver: #adadad;
$lavender: #83677B;
$eggplant: #64485C;
$cocoaBean: #501B1D;
$tamarind: #2e1114;
$nearBlack: #1e0004;
$black: #000;

