@import '~normalize.css';
@import './styles/component';
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway&display=swap');


html {
    color: $ivory;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;

    * {
        box-sizing: inherit;
    }

    &::after {
        content: ' ';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $tamarind;
        background: -moz-linear-gradient(top, $tamarind 0%, $black 100%);
        background: -webkit-linear-gradient(top, $tamarind 0%,$black 100%);
        background: linear-gradient(to bottom, $cocoaBean 0%, $black 100%);
        z-index: 0;
    }
}

body {
    position: relative;
    z-index: 1;
}

a {
    color: $ivory;
    text-decoration: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
